body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e272e, #2f3640);
    color: white;
    text-align: center;
}

h2 {
    margin: 15px;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

#map {
    height: 500px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#infoBox {
    width: 90%;
    margin: 15px auto;
    padding: 15px;
    background: #2f3640;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}